---
title: Handbook
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/index.css"/>
    <link rel="stylesheet" href="/prism.css"/>
  </head>
  <body class="w-full">
    <header>
      <nav></nav>
    </header>
    <main class="flex flex-row justify-center">
      <section class="prose text-base max-w-prose">
        {{ content | safe }}
      </section>
      <footer></footer>
    </main>
  </body>
</html>